name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: github-metrics.svg
          base: header, activity, community, repositories
          plugin_languages: true
          plugin_languages_ignored: html, css
          plugin_languages_limit: 6
          plugin_languages_sections: most-used
          plugin_habits: true
          plugin_habits_days: 14
          plugin_habits_charts: true
